.popup__close-button {
  background-image: url(../images/../../../images/Close_Icon.svg);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  min-height: 32px;
  min-width: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .popup__close-button {
    min-height: 20px;
    min-width: 20px;
    right: 0px;
    top: -34px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
}
