.login__tittle{
    color: aliceblue;
    margin: auto;
    font-size: 24px ;
    font-weight: 900;
    margin-bottom: 50px;
    margin-top: 60px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-align: center;
}